<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
      #login, #loggedin {
        display: none;
      }
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Z Music</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="#">Z Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline">
        <div class="md-form my-0">
          <select id="playlists" class=""></select>
        </div>
        <div class="md-form my-0">
          <select id="workouts" class=""></select>
        </div>
    </form>
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
          </li>
          <li class="nav-item dropdown">
        </li>
        </ul>
    </div>
    <div class="container">
      <div id="login">
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        <div id="oauth">
        </div>
        <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
      </div>
    </div>
  </nav>
  </head>
  <body>
    <main>
  <div class="container">
      <div class="row">
          <div class="col-md-5">
          <div class="card m-5" style="width: 22rem;">
            <div class="view overlay">
              <img id="current-track" class="img-fluid" alt="">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title" id="current-track-name">
                Select a playlist from your Spotify account and a workout at the top of the page.<br/>
                Press "Start/Next" when you start pedaling during the workout. Or use Pause and "Start/Next" to synchronize with intervals later in the workout.
  </h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary"  onclick="playNext()">Start/Next</a>
              <a href="#" class="btn btn-primary" onclick="pauseMusic()">Pause</a>
            </div>
          </div>
          <div class="card m-5" style="width: 22rem;">
            <div class="card-body">
              <h4 class="card-title">Playlist Tempo</h4>
              <p class="card-text">
                <div id='tempo-chart' class='chart'></div>
              </p>
            </div>
          </div>
          <div class="card m-5" style="width: 22rem;">
            <div class="card-body">
              <h4 class="card-title">Playlist Energy</h4>
              <p class="card-text">
                 <div id='energy-chart' class='chart'></div>
              </p>
            </div>
          </div>
          </div>
          <div class="col-md-6">
            <div class="card card-cascade narrower">
                <div class="card-body card-body-cascade table-responsive pre-scrollable">
                  <div id="table"></div>
                </div>
            </div>
          </div>

      </div>
  </div>
  </main>
    <script id="user-profile-template" type="text/x-handlebars-template">
      <h1> {{display_name}}</h1>
    </script>
    <script id="oauth-template" type="text/x-handlebars-template">
      <div class="dl-horizontal">
      <div class="text-overflow">{{access_token}}</div>
      <div class="text-overflow">{{refresh_token}}</div>
    </div>
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
    <script src="./histogram.js" ></script>
    <script src="./script.js" ></script>
    <script>
      (function() {
        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var e, r = /([^&;=]+)=?([^&;]*)/g,
              q = window.location.hash.substring(1);
          while ( e = r.exec(q)) {
             hashParams[e[1]] = decodeURIComponent(e[2]);
          }
          return hashParams;
        }
        var userProfileSource = document.getElementById('user-profile-template').innerHTML,
            userProfileTemplate = Handlebars.compile(userProfileSource),
            userProfilePlaceholder = document.getElementById('user-profile');
        var oauthSource = document.getElementById('oauth-template').innerHTML,
            oauthTemplate = Handlebars.compile(oauthSource),
            oauthPlaceholder = document.getElementById('oauth');
        var params = getHashParams();
        var access_token = params.access_token,
            refresh_token = params.refresh_token,
            error = params.error;
        if (error) {
          alert('There was an error during the authentication');
        } else {
          if (access_token) {
            // render oauth info
            oauthPlaceholder.innerHTML = oauthTemplate({
              access_token: access_token,
              refresh_token: refresh_token
            });
            $.ajax({
                url: 'https://api.spotify.com/v1/me',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
                  userProfilePlaceholder.innerHTML = userProfileTemplate(response);
                  $('#login').hide();
                  $('#loggedin').show();
                  refreshToken(function(){
                    getPlayLists(access_token);
                  });
                  setTokenCallback(refreshToken);
                }
            });
          } else {
              // render initial screen
              $('#login').show();
              $('#loggedin').hide();
          }
          document.getElementById('obtain-new-token').addEventListener('click', refreshToken, false);
          function refreshToken(optional) {
            $.ajax({
              url: '/refresh_token',
              data: {
                'refresh_token': refresh_token
              }
            }).done(function(data) {
              access_token = data.access_token;

              oauthPlaceholder.innerHTML = oauthTemplate({
                access_token: access_token,
                refresh_token: refresh_token
              });
              updateToken(access_token);
              if( optional ){
                optional();
              }
            });
          }
        }
      })();
    </script>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
  </body>
</html>
